<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goal">
<!--    {} csak nyitó/záró html tag-ek között működik, interpolation    -->
      <h2>{{ testValue }}</h2>
<!--    value binding    -->
      <p :class="nameOfClass">{{ testFunc() }}</p>
        <button @click='handleCounter("increase")'>Add</button>
        <button @click='handleCounter("decrease")'>Reduce</button>
        <button @click.right='handleCounter("decrease")'>Reduce</button>
        <p v-once>Initial value: {{ counter }}</p>
        <p>Result: {{ counter }}</p>
        <p>Result in binary: {{ counterInBinary }}</p>
        <input type="text" v-model="inputContent" @keyup.enter="storeInput"/>
        <p>Content in the input: {{ inputContent }}</p>
        <p>Content in the stored input: {{ storedInputContent }}</p>
        <form @submit.prevent="handleSubmit">
            <button>Submit</button>
        </form>
        <button @click="reset" style="margin:1rem">Reset</button>

        <section id="styling">
            <!--     a demo class alapból fixen rajta lesz, a selectedBox class akkor, ha boxIsSelected true-t ad vissza       -->
            <!--     array syntax       -->
            <div :class="['demo', {selectedBox: boxIsSelected('A')}]" @click="selectBox('A')"></div>
            <div :class="['demo', {selectedBox: boxIsSelected('B')}]" @click="selectBox('B')"></div>
            <div :class="['demo', {selectedBox: boxIsSelected('C')}]" @click="selectBox('C')"></div>
        </section>

        <section>
            <input type="text" v-model="enteredListItem"/>
            <button @click="addToList">Add text to list</button>
            <!--      v-if: az ezzel elátott tag-ek nem lesznek részei a dom fának
                    ha a feltétel nem teljesül, v-show: az ezzel elátott tag-ek mindig
                    fixen részei a dom fának, ha nem teljesül a feltétel, akkor
                    dislay:none-t tesz rá, nem tartozhat hozzá else
                  -->
            <p v-if="list.length === 0">List is empty</p>
            <!--    else: közvetlen az if után kell jönnie, nem lehet köztük más tag        -->
            <ul v-else>
                <!--
                    json esetében is működik (value, key) kell olyankor
                    key: mivel a vue, mint a react újrahasznosíjta a dom elemeket, így azok tartalma
                    beragadhat, amikor pl. egy lista változik, emiatt érdemes key-t használni,
                    így egyéertelműen meg fogja tudni különböztetni a dom elemeket
                    -->
                <li v-for="(listItem, index) in list" @click="removeFromList(index)" :key="generateRandomString">{{ listItem }}</li>
            </ul>
        </section>

    </section>
  </body>
</html>
